* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', Courier, monospace;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.category-product {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-compound {
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
}

.product-ingredients {
  list-style: circle;
  margin-bottom: 5px;
}

.product-ingredients-item {
  margin-left: 15px;
  margin-bottom: 5px;
}

.product-prise-cotainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-prise-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  display: block;
}

.product-prise {
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  display: block;
}

.title {
  font-size: 70px;
  line-height: 78px;
  margin-bottom: 110px;
  margin-left: 227px;
  margin-top: 220px;
}

.box-card {
  display: flex;
  flex-wrap: wrap;
  width: 1110px;
  gap: 45px;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  margin-left: 85px;
  margin-bottom: 116px;
}

.photography-with-flowers {
  position: absolute;
  background-image: url("photographs/photography-with-flowers.png");
  background-repeat: no-repeat;
  background-size: 790px;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0px;
  top: -400px;
}

.color-green {
  background-color: #00FF7F;
}

.color-violet {
  background-color: #8A2BE2;
}

.button-position {
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 15px;
}